<section class="about container pl-3 pt-3 pr-3">
    <figure class="row">
        <p class="col-12 col-md-6 mb-0">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/self.jpg"/>  
        </p>
        <figcaption class="col-6 col-md-6">
            Какой-то текст
        </figcaption>
    </figure>
    <div class="row">
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_yellow.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_red.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_blue.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
    </div>
</section>