<div class="card-wrapper" *ngFor="let card of items" (click)="card.flipped = !card.flipped">
    <div class="card shadowed text-center m-1">
        <div class="card__panel--front">
            <div class="lazy" attr.data-src="{{card.imageUrl}}"></div>
        </div>
        <div class="card__panel--back p-2" [class.active]="card.flipped">
            <div class="card__panel--back__content">
                <h2 [class.mb-3]="card.marketUrl" [class.mb-4]="!card.marketUrl">
                    {{card.title}}
                </h2>
                <p *ngIf="card.marketUrl" class="mb-3">
                    <a (click)="stop($event)" href="{{card.marketUrl}}" target="_blank">
                        <i class="fa fa-info-circle fa-2x"></i>
                    </a>
                </p>
                <p class="card__panel--back__content-par m-0" *ngFor="let part of card.description">{{part}}</p>
            </div>
        </div>
    </div>
</div>