<nav #navbar class="navbar navbar-contacts navbar-toggleable navbar-inverse">
    <ul class="navbar-nav block-center">
        <li class="nav-item hidden-xs-down">
            <a href="tel:+79319717113" class="nav-link text-center">
                <i class="fa fa-phone"></i>
                +7(931)9717113
            </a>
        </li>
        <li class="nav-item hidden-xs-down">
            <a href="mailto:anthonycakes@yandex.ru" class="nav-link text-center">
                <i class="fa fa-envelope"></i>
                anthonycakes@yandex.ru
            </a>
        </li>
        <li class="nav-item hidden-xs-down">
            <a href="https://vk.com/im?media=&sel=-114453626" class="nav-link text-center" target="_blank">
                <i class="fa fa-comment"></i>
                ВКонтакте
            </a>
        </li>
        <li class="nav-item dropdown hidden-sm-up">
            <a href="#" class="nav-link dropdown-toggle text-center" id="navbarDropdownContacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Контакты
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownContacts">
                <a href="tel:+79319717113" class="nav-link text-center">
                    <i class="fa fa-phone"></i>
                    +7(931)9717113
                </a>
                <a href="mailto:anthonycakes@yandex.ru" class="nav-link text-center">
                    <i class="fa fa-envelope"></i>
                    anthonycakes@yandex.ru
                </a>
                <a href="https://vk.com/im?media=&sel=-114453626" class="nav-link text-center" target="_blank">
                    <i class="fa fa-comment"></i>
                    ВКонтакте
                </a>
            </div>
        </li>
    </ul>
</nav>