@import '../../common/variables';

.navbar-contacts {
    background: $clr-header $img-overlay;
    opacity: 0.95;

    .show > .dropdown-toggle::after {
        border-top: none;
        border-bottom: 0.3em solid;
    }

    .dropdown-menu {
        background-color: transparent;
        border-width: 0;
    }
}