<section class="gallery">
    <div class="gallery__cards" *ngIf="products?.length">
        <ac-card-list class="gallery__cards-container p-2 clearfix" [cards]="products"></ac-card-list>                
    </div>
    <div class="loader text-center color-primary" *ngIf="!products?.length">
        <div>
            <div>
                <i class="fa fa-spinner fa-circle-o-notch fa-spin fa-5x"></i>
            </div>
            <div>
                Подождите немного, мы готовим для Вас!
            </div>
        </div>
    </div>
</section>