<section class="about container pl-3 pt-3 pr-3">
    <figure class="row">
        <p class="col-12 col-md-6 mb-0">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/self.jpg"/>  
        </p>
        <figcaption class="col-12 col-md-6 text-justify">
            <p>Привет всем.</p>
            <p>
                Меня зовут Антон, я кондитер и автор всех вкусностей на этом сайте.
                Я очень люблю свою работу, а потому всегда делаю вкусно и красиво.
            </p>
            <p>
                Мне сложно расписывать свои умения и таланты, зато у меня есть много аппетитных фотографий моих десертов.
                А еще ваши чудесные отзывы, которые намного важнее моих собственных слов.
            </p>
            <p class="mb-0">
                Мне совсем не хочется ограничиваться скучным перечнем товаров, который обычно есть в кафе и ресторанах.
                Поэтому если вдруг вам захотелось «вот такого же, но с белым шоколадом», не бойтесь проявить фантазию и пишите мне обо всех своих желаниях!
                Я хочу, чтобы ваш праздник был ярким и запоминающимся, и торт «с конвеера» – не наш случай.
                Побудьте соавтором своего десерта – ведь это так интересно!
            </p>
        </figcaption>
    </figure>
    <div class="row">
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_yellow.jpg"/>
            <figcaption class="text-center">
                <h4>Сделано с любовью</h4>
                <p>Каждый десерт от приготовления до упаковки делается вручную</p>
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_red.jpg"/>
            <figcaption class="text-center">
                <h4>Натурально</h4>
                <p>В приготовлении я не использую вредные пищевые добавки</p>
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_blue.jpg"/>
            <figcaption class="text-center">
                <h4>Авторские десерты</h4>
                <p>Индивидуальный состав и декор с учетом всех Ваших пожеланий</p>
            </figcaption>
        </figure>
    </div>
</section>