<nav class="main_menu navbar">
    <ul class="navbar-nav block-center flex-row">
        <li class="nav-item">
            <a class="nav-link text-center" routerLink="/products" routerLinkActive="active">
                Вкусняшки
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" routerLink="/about" routerLinkActive="active">
                Обо мне
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" routerLink="/reviews" routerLinkActive="active">
                Отзывы
            </a>
        </li>
    </ul>
</nav>