$clr-header: #363d4a;
$clr-content: #e97770;
$clr-footer: #282b34;
$clr-logo-primary: #ffde94;
$clr-logo-secondary: #af2c45;
$clr-lighten-index: 10%;

$img-overlay: url(~/images/overlay.png);

$mbp-sm: 576px;
$mbp-md: 768px;
$mbp-lg: 992px;
$mbp-xl: 1200px;