@import 'variables';
@import 'bootstrap-navbar';
@import 'bootstrap-cards';

html,
body {
    color: $clr-logo-primary;
    height: 100%;
    min-width: 20rem;
}

a {
    color: lighten($clr-logo-primary, $clr-lighten-index);

    &:hover,
    &:focus {
        color: $clr-logo-primary;
    }
}

.block-center {
    margin: 0 auto;
}

.color-primary {
    color: $clr-logo-primary;
}

.color-secondary {
    color: $clr-logo-secondary;
}

.loader {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
}