@import 'variables';
@import 'bootstrap-navbar';

body {
    color: $clr-logo-primary;
}

a {
    color: lighten($clr-logo-primary, $clr-lighten-index);

    &:hover,
    &:focus {
        color: $clr-logo-primary;
    }
}

.block-center {
    margin: 0 auto;
}