@import '../../common/variables';

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

    &_header,
    &_footer {
        background-image: $img-overlay;
    }

    &_header {
        background-color: $clr-header;
    }

    &_content {
        align-items: center;
        background-color: $clr-content;
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &_footer {
        background-color: $clr-footer;

        &-social {

            a {
                color: lighten($clr-logo-secondary, $clr-lighten-index);

                &:hover,
                &:focus {
                    color: $clr-logo-secondary;
                }
            }
        }
    }
}