@import '../../common/variables';

.main {
    &_header,
    &_content,
    &_footer {
        background-image: $img-overlay;
    }

    &_header {
        background-color: $clr-header;
    }

    &_content {
        background-color: $clr-content;
    }

    &_footer {
        background-color: $clr-footer;

        &-social {

            a {
                color: lighten($clr-logo-secondary, $clr-lighten-index);

                &:hover,
                &:focus {
                    color: $clr-logo-secondary;
                }
            }
        }
    }
}