<div class="container-fluid main">
    <header class="main_header">
        <div class="col-8 offset-2
                    col-md-4 offset-md-4 
                    col-lg-2 offset-lg-5">
            <img src="images/logo.svg" alt="Anthony Cakes" />
        </div>
    </header>
    <nav-menu></nav-menu>
    <main class="main_content">
        <contacts></contacts>

        <router-outlet></router-outlet>
    </main>
    <footer class="main_footer">
        <div>&copy;{{currentYear}} - Anthony Cakes</div>
        <div>
            Разработка - <a href="mailto:burkovsky.anton@gmail.com">Антон Бурковский</a>
        </div>
    </footer>
</div>