@import '../../common/variables';

.to-top {
    visibility: hidden;
    color: $clr-logo-secondary;
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    opacity: 0;
    transition: all .25s;

    &.active {
        opacity: .75;
        visibility: visible;
    }

    &:hover,
    &:focus {
        color: $clr-logo-secondary;
        opacity: 1;
        text-decoration: none;
    }

    .fa {
        background-color: $clr-logo-primary;
        line-height: 3rem;
    }

    .fa-arrow-circle-o-up:before {
        margin: -0.0625rem;
    }
}