<section class="gallery">
    <div *ngIf="photos.length">       
        <div class="card-columns">
            <card *ngFor="let photo of photos" [url]="photo.url" [title]="photo.title"></card>
        </div>
    </div>
    <div class="loader text-center color-primary" *ngIf="!photos.length">
        <div class="loader-inner">
            <div>
                <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
            </div>
            <div>
                Подождите немного, мы готовим для Вас!
            </div>
        </div>
    </div>
</section>