<section class="gallery">
    <div class="card-columns" *ngIf="photos.length">
        <card *ngFor="let photo of photos"
              [url]="photo.url" [title]="photo.title" [tags]="photo.tags">
        </card>
    </div>
    <div class="loader text-center color-primary" *ngIf="!photos.length">
        <div>
            <div>
                <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
            </div>
            <div>
                Подождите немного, мы готовим для Вас!
            </div>
        </div>
    </div>
</section>