<section class="gallery">
    <div class="gallery__cards p-2" *ngIf="photos.length">
        <card class="gallery__card" *ngFor="let photo of photos"
              [url]="photo.url" [title]="photo.title" [tags]="photo.tags">
        </card>
    </div>
    <div class="loader text-center color-primary" *ngIf="!photos.length">
        <div>
            <div>
                <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
            </div>
            <div>
                Подождите немного, мы готовим для Вас!
            </div>
        </div>
    </div>
</section>