<section class="about container pl-3 pt-3 pr-3">
    <figure class="row">
        <p class="col-12 col-md-6 mb-0">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/self.jpg"/>  
        </p>
        <figcaption class="col-12 col-md-6 text-justify">
            <p>Всем привет!</p>
            <p>
                Меня зовут Антон Кузнецов, и наверно как вы уже догадались, я кондитер, или говоря простым языком я делаю вкусняшки на заказ.
                Делаю с любовью, много и только лучшее.
            </p>
            <p>
                Сам я не мастер красиво расписывать свои умения - за меня говорят Ваши отзывы и фотографии моих десертов.
                Так что основная часть моего общения с Вами это те примеры и описания моих работ что вы можете найти на сайте и в соцсетях. 
            </p>
            <p class="mb-0">
                Но при этом хочу сказать, не забывайте что это не какой-то там скучный перечень товаров, а лишь пример того что я могу для Вас приготовить.
                А следовательно не бойтесь проявить фантазию заказывая праздничный торт!
                Я рад сделать Ваш праздник ярким и запоминающимся, а не сделать торт с конвеера.
                Пишите любые свои идеи и предложения, а я буду воплощать их в жизнь!
            </p>
        </figcaption>
    </figure>
    <div class="row">
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_yellow.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_red.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
        <figure class="col-12 col-md-4">
            <img class="lazy img-fluid shadowed mb-2" data-src="/images/about/piece_blue.jpg"/>
            <figcaption class="text-center">
                Какой-то текст
            </figcaption>
        </figure>
    </div>
</section>