@import '../../common/variables';

.card {
    &-logo {
        &-primary {
            background-color: $clr-logo-primary;
            border-color: $clr-logo-primary;
        }

        &-secondary {
            background-color: $clr-logo-secondary;
            border-color: $clr-logo-secondary;
        }
    }
}