@import '../../common/variables';

.card {
    transition: .75s opacity;

    .fa {
        color: lighten($clr-logo-secondary, $clr-lighten-index);

        &:hover {
            color: $clr-logo-secondary;
        }
    }

    &-panel {
        &--front,
        &--back {
        }

        &--front {
        }

        &--back {
            display: none;
        }
    }
}