@import '../styles/variables';

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

    &_content {
        background-color: $clr-content;
        display: flex;
        flex: 1;
        justify-content: center;
        position: relative;
    }
}