<div class="card-wrapper" *ngFor="let card of items" (click)="card.flipped = !card.flipped">
    <div  class="card text-center m-2">
        <div class="card__panel--front">
            <img class="lazy" attr.data-original="{{card.url}}" alt="Anthony Cakes">
        </div>
        <div class="card__panel--back p-2" [class.active]="card.flipped">
            <div class="card__panel--back-content">
                <h2 class="mb-4">{{card.title}}</h2>
                <p class="m-0" *ngFor="let tag of card.tags">{{tag}}</p>
            </div>
        </div>
    </div>
</div>