<div class="card-wrapper" (click)="item.flipped = !item.flipped">
    <div class="card shadowed text-center m-1">
        <div class="card__panel--front">
            <div class="lazy" attr.data-src="{{item.imageUrl}}"></div>
        </div>
        <div class="card__panel--back p-2" [class.active]="item.flipped">
            <div class="card__panel--back__content">
                <h2>
                    <a *ngIf="item.marketUrl" (click)="stop($event)" href="{{item.marketUrl}}" target="_blank">
                        {{item.title}}
                    </a>
                    <span *ngIf="!item.marketUrl">
                        {{item.title}}
                    </span>
                </h2>
                <hr class="card__panel--back__content-line" />
                <p class="card__panel--back__content-par m-0" *ngFor="let part of item.description">{{part}}</p>
            </div>
        </div>
    </div>
</div>