<section class="gallery">
    <div class="gallery__cards" *ngIf=photos.length>
        <ac-cards class="gallery__cards-container p-2 clearfix" [items]="photos"></ac-cards>                
    </div>
    <div class="loader text-center color-primary" *ngIf="!photos.length">
        <div>
            <div>
                <i class="fa fa-spinner fa-circle-o-notch fa-spin fa-5x"></i>
            </div>
            <div>
                Подождите немного, мы готовим для Вас!
            </div>
        </div>
    </div>
</section>