<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <title>Anthony Cakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@ViewData["Description"]"/>
    <link rel="stylesheet" href="~/build/styles.css" asp-append-version="true"/>
</head>
<body>  
    @RenderBody()

    <script src="~/build/bundle.js" asp-append-version="true"></script>
</body>
</html>