@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

<header role="banner">
    <nav class="container">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">AnthonyCakes2</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <app-root>Loading...</app-root>
</main>
<footer>
    <div class="container">
        <span>&copy; @DateTime.Now.Year - AnthonyCakes2</span>
    </div>
</footer>