@import '../../../styles/variables';

.product {
    font-family: 'Kurale', serif;

    &__content {
        &-image {
            display: none;
        }

        &-description {
            hr {
                border-color: $clr-logo-primary;
            }
        }
    }
}