@import '../../../styles/variables';

.product {
    font-family: 'Kurale', serif;

    &__image {
        display: none;
    }

    &__content-description {
        hr {
            border-color: $clr-logo-primary;
        }
    }

    &__description {
        font-size: 1.125rem;
    }

    &__stats {
        font-size: 2rem;
    }

    &__price {
        font-size: 2.5rem;
    }
}