@import '../../../styles/variables';

.main_contacts {
    background: $clr-contacts $img-overlay;
    opacity: 0.95;
    width: 100%;
    z-index: 100;

    .dropdown-toggle::after {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .show > .dropdown-toggle::after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .show > .dropdown-menu {
        opacity: 0.95;
        max-height: 10rem;
        visibility: visible;
    }

    .dropdown-menu {
        display: block;
        background-color: transparent;
        border-width: 0;
        max-height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        visibility: hidden;
    }

    &.sticky {
        position: fixed;
        top: 0;
    }
}